@using HealthTechSolutions.ContentModels
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    // Query for grabbing the navigation items
    var home = Umbraco.ContentAtRoot().FirstOrDefault();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback) && x.Name != "Footer").ToArray();
    var pageSettings = Model.Value<MediaWithCrops>("headerLogo", fallback: Fallback.ToAncestors);
}
<div class="container-fluid hts-header sticky-top flex-lg-nowrap flex-lg-row flex-lg-nowrap d-flex hts-header">
    <div class="logo-wrapper p-lg-2 p-1">
        @{
            int i = 0;
            <a class="navbar-brand" aria-current="page" tabindex="@(i)" href="@(home.Url(PublishedUrlProvider))">
                <img class="logo" src="@(pageSettings.MediaUrl())" alt="Header Logo" />
            </a>
            i++;
        }
    </div>
    <nav class="navbar nav-fill navbar-light bg-light">
        @if (selection?.Length > 0)
        {
            <div class="container-fluid list-group-horizontal-lg list-group-horizontal-md list-group sticky-top">
                @*@{
                    <a class="navbar-brand list-group-item " aria-current="true" tabindex="@(i)" href="@(home.Url(PublishedUrlProvider))">@(home.Name)</a>
                    i++;
                }*@
                @foreach (var item in selection)
                {
                    <a class="navbar-brand list-group-item @(item.Path == Model.Path ? "active" : "")" aria-current="page" tabindex="@(i)" href="@(item.Url(PublishedUrlProvider))">@(item.Name)</a>
                }
            </div>
        }
    </nav>
</div>
