@using Umbraco.Cms.Core.Media;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;

@inject IImageUrlGenerator imageUrlGenerator;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<EmployeeBios>
@{
	Layout = "Master.cshtml";
}

@{
	var bios = Model.EmployeeBioList;
}
<div class="container">
@{
    <div class="container-fluid">
	@foreach (var bio in bios)
    {
              var bior = bio as EmployeeBioMt;
                
            <div>
                    <img src="@Url.GetCropUrl(bio,"sm-employee-bio", true, UrlMode.Auto)" alt="@(bior.EmployeeName)" />
            <h2>@bior.EmployeeTitle</h2>
            <h2>@bior.EmployeeName</h2>
            <p>@bior.EmployeeBio</p>
            </div>
    }
    </div>
}
</div>
