@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Web.Common;

@inject IPublishedValueFallback PublishedValueFallback

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    IPageSettings model = null;

    if (typeof(IPageSettings).IsAssignableFrom(Model.GetType()))
    {
        model = new PageSettings(Model, PublishedValueFallback);
    } 
    else
    {
        model = Umbraco.ContentAtRoot().FirstOrDefault().ChildrenOfType("pageSettings").FirstOrDefault() as PageSettings;
    }

    @*Location contacts are not working yet, the media picker used to select the node thinks
    it is a media item and not a content node.  Need to figure out how to fix this.
    May need a custom property editor to handle this.
    Resolved see employee bios setup for fix*@

    // TODO Keeping this as an implementation not in case it is needed
    //  @(await Component.InvokeAsync("FooterView", new { siteFooter = siteFooter }))
}

<div class="container-fluid ht-footer px-0" style="float:inline-start;">
    @if (model != null)
    {
        <!--- Top Section Links (Optional) --->
        if (model.FooterDisplayTR)
        {
            var topRowLinks = model.TopRowLinks.Count() > 0 ? model.TopRowLinks : GetPropertyFallback(model.TopRowLinks, nameof(model.TopRowLinks), Model, PublishedValueFallback);
            <div class="container-flex ht-footer-navbar py-1 bg-gradient shadow-lg">
                <div class="container">
                    <ul class="nav justify-content-center">
                        @{
                            foreach (var link in topRowLinks as IEnumerable<Link>)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@(link.Url)" target="@(link.Target)">@(link.Name)</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="container d-block text-light shadow">
            <!--- Middle Row Up To 3 Columns --->
            @{
                int middleRowColumnsCount = 0;
                if (model.FooterDisplayMrlc) middleRowColumnsCount++;

                if (model.FooterDisplayMrcc) middleRowColumnsCount++;

                if (model.FooterDisplayMrrc) middleRowColumnsCount++;
            }
            @if (middleRowColumnsCount > 0)
            {
                <div class="d-block d-md-flex">
                    <!--- Left Column --->
                    @if (model.FooterDisplayMrlc)
                    {
                        <div class="flex-md-column p-2 bd-highlight col-md-@(middleRowColumnsCount == 3 ? "3" : (12 / middleRowColumnsCount).ToString())">
                            <h5>@(model.HeaderTitle) asfaw</h5>
                        </div>
                    }

                    <!--- Middle Column --->
                    @if (model.FooterDisplayMrcc)
                    {
                        <div class="flex-md-column text-center p-2 col-md-@(middleRowColumnsCount == 3 ? "6" : (12 / middleRowColumnsCount).ToString())">
                            <ul class="list-group list-unstyled">
                                <li>Logo</li>
                                <li>Contact Info</li>
                                <li>Address</li>
                                <li>Phone</li>
                                <li>Email</li>
                                <li>Hours</li>
                            </ul>
                        </div>
                    }

                    <!--- Right Column --->
                    @if (model.FooterDisplayMrrc)
                    {
                        <div class="flex-md-column text-end p-2 col-md-@(middleRowColumnsCount == 3 ? "3" : (12 / middleRowColumnsCount).ToString())">
                            <div class="list-inline">
                                <a class="btn list-inline-item p-0"><i class="bi bi-facebook fs-2 social-grey"></i></a>
                                <a class="btn list-inline-item p-0"><i class="bi bi-linkedin fs-2 social-grey"></i></a>
                                <a class="btn list-inline-item p-0"><i class="bi bi-twitter fs-2 social-grey"></i></a>
                            </div>
                            <p class="align-baseline">
                                Copyright @Model.Value("companyName", fallback: Fallback.ToAncestors) @(DateTime.Today.Year)
                            </p>
                        </div>
                    }
                </div>
            }
            <!--- Certifcations Section --->
            @if (model.FooterDisplayBadges)
            {
                <div class="row text-center footerbadges">
                    @*@foreach (MediaWithCrops badge in model.FooterBadges)
            {
            <div class="col">
            <img src="@(badge.MediaUrl())" alt="@(badge.)" />
            </div>								}
            }*@
                </div>
            }
            <!--- Bottom Section Links --->
            @*<div class="row text-center certs">
        @{
        List<MediaWithCrops> certImages = new List<MediaWithCrops>();
        int count = 1;
        while (true)
        {
        var search = $"certImage{count}";
        var cert = Model.Value<MediaWithCrops>(search);
        if (cert == null)
        {
        break;
        }
        certImages.Add(cert);
        count++;
        }

        foreach (var cert in certImages)
        {
        <div class="col" style="border:2px; border-style:dashed;">
        <img src="@cert.MediaUrl()" />
        </div>
        }
        }
        </div>*@

        </div>
    }
    else
    {
        @*Create a default minimal fallback footer*@
        <!--- An error occurred template no footer doc was found --->
        <div class="row">
            <div class="col-md-12">
                <img src="/images/Logos/healthtech-solutions-logo-footer.png" style="max-width:100%;" alt="HealthTech Solutions Logo" />
                <p><copy>HealthTech Solutions @DateTime.Today.Year.ToString("YYYY")</copy> </p>
            </div>
        </div>
    }
</div>
@{
    static T GetPropertyFallback<T>(T property, string name, IPublishedContent content, IPublishedValueFallback fallback)
    {
        var val = content.Value<T>(fallback, name, fallback: Fallback.ToAncestors);
        return val;
    }
}