@using HealthTechSolutions.ContentModels;
@using Umbraco.Cms.Core.Models;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageSettings>
@{
    Layout = null;

    //var siteFooter = Umbraco.ContentAtRoot().FirstOrDefault().ChildrenOfType("siteFooter").FirstOrDefault() as SiteFooter;

    // @(await Component.InvokeAsync("FooterView", new { siteFooter = siteFooter }))
}

<div class="container-flex ht-footer text-light">
    <div class="container d-block">
        @if (Model != null)
        {
            <!--- Top Section Links (Optional) --->
            if (Model.FooterDisplayTR)
            {
                <div class="container-flex overflow-visible bg-dark">
                    <ul class="list-group">
                        @{
                            foreach (var link in Model.TopRowLinks)
                            {
                                <li>
                                    <a href="@(link.Url)" target="@(link.Target)">@(link.Name)</a>
                                </li>
                            }
                        }
                        <li>List Empty</li>
                    </ul>
                </div>
            }
            <!--- Middle Row Up To 3 Columns --->
            int middleRowColumnsCount = 0;
            if (Model.FooterDisplayMrlc) middleRowColumnsCount++;

            if (Model.FooterDisplayMrcc) middleRowColumnsCount++;

            if (Model.FooterDisplayMrrc) middleRowColumnsCount++;

            @if (middleRowColumnsCount > 0)
            {
                <div class="container d-block d-md-flex">
                    <!--- Left Column --->
                    @if (Model.FooterDisplayMrlc)
                    {
                            <div class="col-md-@(middleRowColumnsCount == 3 ? "3" : (12 / middleRowColumnsCount).ToString())">
                            <h5>@(Model.HeaderTitle) asfaw</h5>
                        </div>
                    }
                    <!--- Middle Column --->
                    @if (Model.FooterDisplayMrcc)
                    {
                        <div class="col-md-@(middleRowColumnsCount == 3 ? "6" : (12 / middleRowColumnsCount).ToString())">
                            <ul>
                                <li>Logo</li>
                                <li>Contact Info</li>
                                <li>Address</li>
                                <li>Phone</li>
                                <li>Email</li>
                                <li>Hours</li>
                                @*Location contacts are not working yet, the media picker used to select the node thinks
                    it is a media item and not a content node.  Need to figure out how to fix this.
                    May need a custom property editor to handle this.*@
                                @*@{
                    foreach (var link in Model.FooterContact)
                    {
                    <li>
                    <a href="@(link.Url)" target="@(link.Target)">
                    @(
                    link.Name
                    )
                    </a>
                    </li>
                    }
                    }*@
                            </ul>
                        </div>
                    }
                    <!--- Right Column --->
                    @if (Model.FooterDisplayMrrc)
                    {
                        <div class="col-md-@(middleRowColumnsCount == 3 ? "3" : (12 / middleRowColumnsCount).ToString())">
                            <copy>
                                Copyright @("") @(DateTime.Today.Year)
                            </copy>
                        </div>
                    }
                </div>
            }
            <!--- Certifcations Section --->
            if (Model.FooterDisplayBadges)
            {
                <div class="row text-center footerbadges">
                    @*@foreach (MediaWithCrops badge in model.FooterBadges)
            {
            <div class="col">
            <img src="@(badge.MediaUrl())" alt="@(badge.)" />
            </div>								}
            }*@
                </div>
            }
            <!--- Bottom Section Links --->
        }
        else
        {
            @*Create a default minimal fallback footer*@
            <!--- An error occurred template no footer doc was found --->
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/Logos/healthtech-solutions-logo-footer.png" style="max-width:100%;" alt="HealthTech Solutions Logo" />
                    <p><copy>Copyright HealthTech Solutions Inc. @DateTime.Today.Year.ToString("YYYY")</copy> </p>
                </div>
            </div>
        }

        @*<div class="row text-center certs">
        @{
        List<MediaWithCrops> certImages = new List<MediaWithCrops>();
        int count = 1;
        while (true)
        {
        var search = $"certImage{count}";
        var cert = Model.Value<MediaWithCrops>(search);
        if (cert == null)
        {
        break;
        }
        certImages.Add(cert);
        count++;
        }

        foreach (var cert in certImages)
        {
        <div class="col" style="border:2px; border-style:dashed;">
        <img src="@cert.MediaUrl()" />
        </div>
        }
        }
        </div>*@

    </div>
</div>
